
.Mobileevent, .Mobileevent2{display: none;}
@media screen and (max-width :1200px){
    .home-banner-caption{
        text-align: right;
    }
    .home-banner-caption img {
        width: 92%;
    }
    .footer-top {
        max-width: 100%;
    }
}
/*Vishnu css start*/
@media screen and (max-width :1024px){
    .banner-black-hover {
        width: 360px;
    }
    #video-ekkon1 {
        width: calc(100% - 260px);
    }
    .home-banner-caption img {
        width: 78%;
    }
    .home-section2-inner {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 60px;
        padding-right: 20px;
    }
    .home-section2 {
        padding: 100px 0;
    }
    .draw-line p {
        top: 84%;
    }
    .draw-line {
        padding-bottom: 0;
        height: 370px;
    }
    .draw-line p {
        top: 70%;
        width: 300px;
    }
    .event-area {
        padding: 40px 0  130px;
    }
    .home-event-section, .afi-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .home-event1 {
        padding-bottom: 60px;
        width: 100%;
    }
    .view-all-events a {
        font-size: 20px;
        position: static;
        margin-top: 25px;
        display: inline-block;
    }
    .home-event2 {
        width: 30.5%;
    }
    .afi-section-hd {
        font-size: 46px;
        line-height: 56px;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .ekkonexp-heading {
        font-size: 44px;
        text-align: left;
        margin-bottom: 15px;
    }
    .ekkon-exp {
        padding: 0;
    }
    .home-gate-section1 {
        max-width: 100%;
    }
    .home-gate-section1-inner {
        margin-left: 0;
    }
    .something-setion2-inner {
        width: 50%;
        margin-top: 100px;
    }
    .home-gate {
        padding: 50px 0 100px;
    }
    .home-section2-inner p {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 36px;
    }
    .event-inner-right .arow-down.event-btn {
        font-size: 24px;
    }
    .copy-right2 ul li {
        padding: 0 10px;
    }
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-top {
        max-width: 100%;
    }
    .ab-studio-inner-right {
        padding: 120px 48px;
    }
}
/*Vishnu css start*/
@media screen and (max-width :990px){
    
    .m-menu a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: #D23A3D;
    }
    .megamenu-inner::before, .megamenu-inner:after {
        display: block;
    }
    .m-menu {
        overflow-y: scroll;
        height: calc(100vh - 162px);
    }
    .m-menu a {
        width: 100%;
        max-width: 320px;
        text-align: center;
        height: 230px;
        line-height: 230px;
        display: block;
        border: 1px solid #D23A3D;
        border-radius: 50%;
        font-size: 18px;
        color: #D23A3D;
        text-decoration: none;
        font-family: 'ZoomProNormalMedium';
    }
/*Vishnu css start*/
    .something-setion2-inner {
        width: 48%;
        margin-top: 70px;
    }
    .footer-top {
        max-width: 100%;
    }
    .footer-top-outer {
        margin-top: 80px;
        padding: 30px 0;
    }
    .event-inner-left .arow-right {
        height: 220px;
    }
    .home-gate-section1-inner h1 {
        font-size: 40px;
    }
    .event-inner-left p {
        font-size: 15px;
        width:100%;
        max-width:173px;
        padding-left: 0px;
    }
    #mini-clndr .clndr .days-container .events {
        margin-top: -38px;
        padding-left: 40px;
    }
    /* #mini-clndr .clndr .days-container .days {
        width: 100%;
    } */
    .inthn {
        display: block;
        padding: 50px 0;
    }
    .login-form {
        width: 92%;
    }
    #cdlr{
        padding-top:0 !important;
    }
    
    #mini-clndr .clndr .days-container .days .headers .day-header, #mini-clndr .clndr .days-container .days .day, #mini-clndr .clndr .days-container .days .empty{
        width:14.2% !important;
    }
    #mini-clndr .clndr .days-container .days{
        width: 60%;
    }
    #mini-clndr .clndr .controls {
        width: 50%;
    }
    /*Vishnu css start*/
}

@media screen and (max-width :767px){
    
/*Vishnu css start*/
    .home-section2-inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    #video-ekkon2{
        display: none;
    }
    #video-ekkon1{
        width: 100%;
    }
    .home-event-section, .afi-section {
        padding-bottom: 0;
    }
    .home-gate-section1-inner p{
        font-size: 18px;
    }
    .home-gate-section1-inner h1{
        font-size: 30px;
    }
    .home-section2-inner p {
        font-size: 21px;
        line-height: 25px;
    }
    .home-cat {
        width: 100%;
        max-width: 367px;
        margin: 0 auto;
    }
    .home-cat a {
        width: 100%;
        height: 180px;
        line-height: 180px;
    }
    .event-inner-left h2 {
        font-size: 27px;
        line-height: 32px;
        padding: 0;
    }
    .something-setion-inner h3 {
        font-size: 30px;
        line-height: 36px;
        text-align: left;
    }
    .something-setion2-inner-right {
        font-size: 18px;
        line-height: 24px;
        padding-left: 57px;
    }
    .something-setion2-inner-left {
        float: left;
    }
    .event-inner-right .arow-down{
        height: 145px;
        left: 98px;
        max-width: 240px;
        top: -55px;
        z-index: 9;
    }
    .event-inner-left .arow-right {
        height: 145px;
        left: 0;
        max-width: 240px;
        top: 0;
        z-index: 999;
        margin-top: -40px;
        position: relative;
        margin-bottom: 30px;
        float: left;
        margin-left: 0;
    }
    .afi-section-hd {
        font-size: 24px;
        line-height: 30px;
    }
    .ab-studio-inner-right {
        padding: 110px 0 50px;
        width: 100%;
        max-width: 100%;
    }
    .ab-studio-inner-left {
        width: 275px;
        position: relative;
        margin-left: -89px;
        margin-top: -59px;
        float: left;
    }
    .ab-studio-inner-left::before {
        height: 440px;
        /* opacity: 0; */
        left: 100px;
        top: 15px;
        display: none;
    }
    
    .ab-studio-inner-left:after {
        left: 186px;
        height: 413px;
        width: 1px;
        background: #d23a3d;
        top: 34px;
        transform: rotate(28deg);
    }
    .ab-studio-inner-left img {
        margin-left: 0;
    }
    .ab-studio-inner {
        display: block;
    }
    .ab-studio-inner-right {
        padding: 0 15px 0 145px;
        text-align: left;
    }
    .ab-studio-inner-right {
        padding: 70px 15px 0 180px;
        text-align: left;
    }
    .ekkonexp-heading {
        font-size: 36px;
        line-height: 42px;
    }
    .ekkon-video video {
        height: 681px;
    }
    .home-gate-section1-inner h1 {
        font-size: 30px;
        line-height: 39px;
    }
    /* .home-gate-section1::before {
        top: inherit;
        left: -42px;
        bottom: -40px;
    } */
    .home-gate3 {
        padding-bottom: 70px;
    }
    .home-gate1 {
        padding-top: 70px;
    }
    .home-gate-section1.home-gate-section2::before {
        top: 60px;
    }
    .home-gate-section1::before {
        top: 100px;
    }
    .getintouch {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .getintouchemail h4 {
        margin-bottom: 20px;
    }
    .address {
        padding-top: 50px;
    }
    .address-left {
        font-size: 18px;
    }
    .home-event1 h2 {
        font-size: 21px;
    }
    .view-all-events a img {
        max-width: 60px;
    }
    .home-gate-section1::before {
        left: 0;
        width: 100%;
    }
    .home-gate1 {
        overflow: hidden;
    }
    .min_rgt {
        right: 0;
    }
    .min_lft {
        left: 0;
    }
    .event-inner-left .txt_bx {
        padding-left: 20px;
    }
/*     
    .bannervideo video {
        height: 360px;
    }
    .bannervideo {
        height: 360px;
    } */
    .new-ev-inner {
        width: 100%;
    }
    .news-ev {
        margin: 20px  0 0;
        flex-direction: column;
    }
    .new-ev-inner {
        width: 100%;
        margin-top: 20px;
    }
    .inthn{padding-bottom: 0px;}
    .event-details-section1 {
        flex-direction: column;
    }
    .event-details-section1-inner-left, .event-details-section1-inner-right {
        width: 100%;
    }
    .youmayknow1 {
        width: 100%;
        margin-bottom: 30px;
    }
    .ev-sub {
        font-size: 24px;
        line-height: 26px;
        padding-bottom: 20px;
    }
    .event-details-hd, .event-details-hd span {
        font-size: 32px;
        line-height: 38px;
    }
    .event-details-date {
        font-size: 24px;
        line-height: 30px;
    }
    .ada {
        width: 50%;
        margin-bottom: 15px;
        padding-right: 15px;
    }
    .buy-ticket {
        padding: 25px 0;
    }
    .ad-cart-left img {
        max-width: 65px;
    }
    .ad-cart-left {
        width: 86px;
        padding-top:15px;
    }
    .ad-cart-right {
        width: calc(100% - 100px);
    }
    .ad-cart-right tr td {
        font-size: 15px;
    }
    .addto-cart-event-details {
        padding: 30px 0 0;
    }
    .buy-ticket a {
        font-size: 20px;
    }
    .buy-ticket img {
        max-width: 60px;
    }
    .community-right h1 {
        font-size: 36px;
        line-height: 40px;
    }
    .payment-option {
        padding: 60px 0 0;
    }
    .reg-form-half input {
        font-size: 17px;
    }
    .home-event1 {
        max-width: 228px;
        padding-bottom: 30px;
    }
    /* .home-event1 .view-all-events {
        display: none;
    } */
    .home-event-main {
        flex-direction: column;
    }
    .home-event2 {
        width: 100%;
        margin-bottom: 30px;
    }
    .ab-studio-inner {
        height: 395px;
    }
    .ekkon-exp {
        padding: 100px 0;
    }
    .home-gate-section3 {
        padding-left: 35px;
    }
    .home-gate3 .wrapper {
        padding-left: 0;
        max-width: 390px;
    }
    .home-gate3 .wrapper {
        padding-left: 0;
        width: 72%;
    }
    .something-setion2-inner-th {
        display: none;
    }
    .something-setion2-inner {
        margin-top: 40px;
        width: 100%;
    }
    .something-setion2-inner-content {
        display: block;
    }
    .getintouchemail h4 a {
        font-size: 18px;
        color: #D23A3D;
        line-height: 24px;
    }
    .home-gate .wrapper, .home-gate1 .wrapper{
        padding-left: 0;
        width: 88%;
    }
    .home-gate-section1 {
        padding-left: 35px;
    }
    .home-gate-section1.home-gate-section2::before {
        left: 0;
        width: 100%;
    }
    .gate-read-more p {
        font-size: 15px;
        line-height: 27px;
    }
    .gate-read-more p a {
        font-size: 18px;
        color: #d23a3d;
    }
    .gate-read-more p a::after {
        bottom: -84px;
        background-size: 40px;
    }
    .megamenu {
        padding: 0 0px;
    }
    .m-menu a {
        height: 200px;
        line-height: 200px;
        margin: 0 auto;
        position: relative;
    }
    .m-menu {
        display: block;
        text-align: center;
        overflow-x: hidden;
    }
    .m-menu a:before {
        content: "";
        position: absolute;
        left: -58%;
        bottom: -2px;
        width: 220%;
        height: 1px;
        background: #D23A3D;
        z-index: 99;
    }
    .megamenu-inner::before, .megamenu-inner:after {
        display: none;
    }
    .m-menu a:last-child:before{display: none;}
    .community-right h1 {
        font-size: 36px;
        line-height: 40px;
    }
    .getintouchemail h4 a {
        font-size: 18px;
        color: #D23A3D;
        line-height: 22px;
    }
    .address-left {
        font-size: 18px;
    }
    .address {
        padding-top: 60px;
    }
    .min_rgt .event-inner:nth-child(1) {
        margin-left: 20px;
        padding-right: 20px;
        padding-left: 0;
        margin-bottom: -42px;
        position: relative;
        z-index: 99;
    }
    .min_rgt .event-inner:nth-child(2) {
        margin-left: -60px;
        padding-right: 9%;
    }
    .event-inner {
        flex-direction: column;
        display: block;
    }
    .min_rgt, .min_lft{
        display: none;
    }
    .Mobileevent{display: block;}
    .event-inner-left .txt_bx {
        position: static;
    }
    .event-inner-left {
        width: 100%;
    }
    .event-inner-right .arow-down {
        height: 240px;
        left: 0;
        max-width: 100%;
        top: 0;
        z-index: 9;
        width: 80%;
        float: right;
        margin-right: 40px;
        margin-top: -50px;
    }
    .event-inner-right {
        width: 100%;
        box-sizing: border-box;
    }
    .Mobileevent_inner4 {
        clear: both;
        max-width: 332px;
        margin-left: 40px;
        padding-top: 50px;
    }
    .Mobileevent2{display: block; padding-top: 100px; padding-bottom: 150px;}


    .afi-section{
        padding:150px 0 !important; 
    }
    .ab-studio-inner-right p{
        width:164px;
        margin-right: 0;
        margin-left: auto;
    }
    .ab-studio-inner-right p {
        font-size: 15px;
        line-height: 22px;
    }

    #mini-clndr .clndr .days-container .events {
        margin-top: 50px;
        padding-left: 0;
    }
    .inthn{
        display: none;
    }
    #mini-clndr .clndr .days-container .days, #mini-clndr .clndr .controls {
        width: 100%;
    }
	.Mobileevent_inner5 h4 a {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'ZoomProWideMedium';
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.Mobileevent_inner5{
	margin:0 auto;
}

/*Vishnu css end*/



    
}
/*Vishnu css start*/
@media screen and (max-width :640px){
    .home-event2 {
        width: 100%;
        margin-bottom: 25px;
    }
    .afi-section-hd img {
        max-width: 55px;
    }
    .gate-read-more {
        width: 94%;
    }
    .event-inner-left, .event-inner-right  {
        width: 100%;
    }
    
    .event-inner-left .txt_bx {
        position: static;
    }
    .event-inner-left h2 {
        padding-bottom: 15px;
        padding-left: 0;
        margin-top: 20px;
    }
   
    
    .event-area {
        padding: 40px 0  0;
    }
    .copyright {
        flex-direction: column;
        align-items: flex-start;
    }
    .ad-cart-right tr.active td:last-child {
        background-size: 35px;
        padding-left: 70px;
    }
    .ad-cart-right tr:last-child td:first-child {
        font-size: 20px;
    }
    .ab-studio-inner-right p {
        font-size: 15px;
        line-height: 22px;
    }
    .ad-cart-left {
        width: 80px;
        padding-top: 15px;
    }
    .ad-cart-right {
        width: calc(100% - 60px);
    }
    .ad-cart-left img {
        max-width: 45px;
    }
    .ad-cart-right tr.active td:last-child {
        background-size: 35px;
        padding-left: 70px;
    }
    .ad-cart-right tr:last-child {
        margin-left: -68px;
    }
    .event-details-hd, .event-details-hd span, .event-details-date{
        font-size: 21px;
        line-height: 24px;
    }
    .ev-sub {
        font-size: 18px;
        line-height: 22px;

    }
    .event-details-section1-inner-left p{
        font-size:14px;
        line-height: 20px;
    }
    .event-details-social-left h5, .event-details-social-left p{
        font-size: 14px;
    }
    .youmayknow1 h4{
        font-size: 15px;
        margin: 20px 0 0;
    }

    .Mobileevent_inner5{
        padding:150px 0 50px;
    }
    .Mobileevent_inner5 h4{
        text-align: center;
    }
    .Mobileevent_inner5 h4 a{
        font-size: 24px;
        color:#fff;
        text-transform: uppercase;
        font-family: 'ZoomProWideMedium';
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }

}
/*Vishnu css end*/




@media screen and (max-width :600px){
    .launchpageleft{
        width:100%;
        height:600px;

    }
    .event-inner-left h2 {
        font-size: 27px;
        line-height: 37px;
        padding: 0;
    }
    .launchpageright{
        width:100%;
        height:auto;
        padding:20px
    }
    
    .something-setion2-inner {
        width: 100%;
    }
    
    .home-gate3 .wrapper {
        padding-left: 0;
        width: 88%;
    }
    .gate-read-more {
        width: 350px;
        padding:45px;
    }
    .gate-read-more p {
        font-size: 15px;
        line-height: 20px;
    }
    .gate-read-more p a {
        font-size: 15px;
        color: #d23a3d;
    }
       .afi-section{
        padding:150px 0 !important; 
    }
    .ab-studio-inner-right p{
        width:164px;
        margin-right: 0;
        margin-left: auto;
    }
    .ab-studio-inner-right p {
        font-size: 15px;
        line-height: 22px;
    }
    .something-setion2-inner-right, .something-setion2-inner-left{
        font-size: 15px;
        line-height: 20px;
    }
    .ab-studio-inner{
        height:365px;
    }
}
@media screen and (max-width :575px){
    .event-inner-right .arow-down {
        height: 173px;
        margin-top: -19px;
    }
    .Mobileevent_inner4 {
        margin-left: 15px;
    }
 
}

@media screen and (max-width :370px){

}