* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 16px;
    background-color: #000;
    overflow-x: hidden;
	margin-top: -20px;
}

.wrapper {
    padding-left: 50px;
    padding-right: 50px;
}


.bannervideo {
    position: relative;
    /* height: 100vh; */
    height:800px;
    overflow: hidden;
}

.bannervideo video {
    width: 100%;
    /* height: 100vh; */
    height:800px;
    object-fit: cover;
}
.main-video-ekkon{
    display: flex;
}
#video-ekkon1{
    width: calc(100% - 415px);
    position: relative;
}
#video-ekkon2{
    width:415px;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 50px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.trigger a span {
    width: 89px;
    height: 5px;
    margin-bottom: 4px;
    display: block;
    border: 1px solid #D23A3D;
}

.banner-black-hover {
    position: absolute;
    top: 0;
    right: 0%;
    /* width: 30%; */
    width:415px;
    height: 100%;
    z-index: 2;
    /* background: rgba(0, 0, 0, 0.5); */
	border-left: 1.5px solid #D23A3D;
}

.bc_1_bl{
    position: absolute;
    top: 0;
    right: 0%;
    /* width: 30%; */
    width:100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}
.active .bc_1_bl{
    background: rgba(0, 0, 0, 0.5);
}


.home-banner-caption {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -150px;
    z-index: 3;
    max-width: 1024px;
    width: 100%;
}

.home-banner-caption img {
    width: 100%;
}

.home-banner-caption h3 {
    color: #D23A3D;
    font-size: 21px;
    text-align: left;
    width: 304px;
    padding-right: 0;
    font-family: 'ZoomProExtendedMedium';
    padding-top: 15px;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: auto;
}
.abl{
    font-family: 'ZoomProWideMedium';
}
.btl{
    font-family: 'ZoomProBrutalMedium';
}


.home-section2 {
    background: #000;
    padding: 200px 0;
}

.home-section2-inner {
    max-width: 500px;
    width: 100%;
    margin-right: 5%;
    margin-left: auto;
}

.home-section2-inner p {
    font-size: 33px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 50px;
    font-family: 'ZoomProNormalMedium';
}

.home-section2-inner p span {
    color: #D23A3D;
    font-family: 'ZoomProWideMedium';
}

.home-cat-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-cat {
    width: 33%;
    text-align: center;
	/* background-image: url(../images/mask-bg1.png); */
	max-width: 422px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.home-cat a {
    width: 100%;
    height: 250px;
	max-width: 422px;
    line-height: 250px;
    border: 1px solid #D23A3D;
    border-radius: 50%;
    display: block;
    font-size: 18px;
    color: #D23A3D;
    text-decoration: none;
    font-family: 'ZoomProNormalMedium';
}

/* left navigation start */
#nav-links {
  z-index: 7000;
  text-align: center;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
   align-items: flex-end;
	top: 35px;
    left: 45px;
    height: 30px;
	margin: 0;
    padding: 0;
  /* mix-blend-mode: difference;
  will-change: all; */
  transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  /* transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1); */
}

#nav-links.ready {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#nav-links li {
  font-size: 0.75em;
  margin-left: 12vh;
  list-style: none;
}
#nav-links li:last-of-type {
  padding-left: 0;
}
/* #nav-links li.scrolled a:before {
  transform: scale(1) translate(-50%, -1.2em);
  -moz-transform: scale(1) translate(-50%, -1.2em);
  -webkit-transform: scale(1) translate(-50%, -1.2em);
  -o-transform: scale(1) translate(-50%, -1.2em);
  -ms-transform: scale(1) translate(-50%, -1.2em);
} */
/* #nav-links li a.active:before {
  transform: scale(1) translate(-50%, -1.2em);
  -moz-transform: scale(1) translate(-50%, -1.2em);
  -webkit-transform: scale(1) translate(-50%, -1.2em);
  -o-transform: scale(1) translate(-50%, -1.2em);
  -ms-transform: scale(1) translate(-50%, -1.2em);
  
} */
#nav-links a {
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-family: 'ZoomProWideMedium';
	font-size:12px;
	text-transform: uppercase;
	transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
}
#nav-links a:hover{
	color: #d23b3a;
}
#nav-links li a.active{
	color:#d23b3a;
}
/* #nav-links a:before {
  content: "";
  display: none;
  background-color: #d23b3a;
  width: 6px;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  top: 40px;
  left: 50%;
  transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -webkit-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -moz-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  -o-transition: all 900ms cubic-bezier(0.3, 0, 0, 1);
  transform: scale(0) translate(-50%, -1.2em);
  -moz-transform: scale(0) translate(-50%, -1.2em);
  -webkit-transform: scale(0) translate(-50%, -1.2em);
  -o-transform: scale(0) translate(-50%, -1.2em);
  -ms-transform: scale(0) translate(-50%, -1.2em);
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
} */
/* left navigation end */



/*--EVENTS AREA START --*/

.event-area{
    padding: 150px 0  250px;
	background: #D23A3D url(../images/red-bg.png) repeat top center;
	overflow: hidden;
	position: relative;
}
.grid-wrap{
    display: none;
}
.event-inner{
    display: flex;
    justify-content: space-between;
}
.event{
    margin-top:50px;
}
.event-inner-left{
    width:50%;
    /* position: relative; */
}
.event-inner-left .txt_bx{
	position:absolute;
	left:0px;
	width:100%;
	z-index:999;
}

.event-inner-left img{
    width:100%;
    position: relative;
    z-index: 9;
    border-radius: 50%;
}
.event-inner-left h2{
	/* font-size: 60px; */
    font-size: 3.6vw;
    color: #fff;
    padding-bottom: 80px;
    padding-left: 62px;
    line-height: 52px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    font-family: 'ZoomProExtendedMedium';
    text-transform: uppercase;
    margin-top: -31px;
}
.event-inner-left h2 span {
    -webkit-text-fill-color: #ffffff;
}
.event-inner-left p{
    font-size: 21px;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
	padding-left: 62px
}
.event-inner-left span{
    color: #D23A3D;
    font-family: 'ZoomProWideMedium';
}

.event-inner-left .arow-right{
	border: 1px solid #fff;
    border-radius: 100%;
    margin-left: 100px;
    height: 379px;
    text-align: center;
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.event-inner-right{
    width: 50%;
    box-sizing: border-box;
}
.event-inner-right img {
    width: 100%;
    position: relative;
    z-index: 9;
    border-radius: 50%;
}
.event-inner-right .arow-down{
	border: 1px solid #fff;
    border-radius: 100%;
    position: relative;
    left: -100px;
    height: 379px;
    text-align: center;
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.event-inner-right .arow-down.event-btn{
	border: 0px solid #fff;
	color:#ffffff;
	font-size:30px;
	text-transform:uppercase;
	font-family: 'ZoomProWideMedium';
	left: auto;
}
.event-inner-right .arow-down.event-btn a{
	color:#ffffff;
	text-decoration:underline;
	font-family: 'ZoomProWideMedium';
}

.min_rgt{
	position:relative;
	right:-50px;
	left:auto
}
.min_lft{
	position:relative;
	left:-50px;
	right:auto
}
.pl-5{padding-left:100px}


/*--EVENTS AREA END --*/


/*--EVENTS GRID  --*/
.grid-wrap {
  position:absolute;
  pointer-events: none;
  z-index:1;
  top: 0;
  left: 60px;
  bottom: 0;
  right: 60px;
  
}
.loading .grid div {
  transform: scaleY(0);
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
}
.grid {
  height: 100vh;
  height:100%;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.grid div {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  transition: -webkit-transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  transition: transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  transition: transform 2s cubic-bezier(0.1, 0, 0.115, 0.995), -webkit-transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  -webkit-transition: transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  -moz-transition: transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  -o-transition: transform 2s cubic-bezier(0.1, 0, 0.115, 0.995);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform: scaleY(1);
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  height:100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.grid div:first-of-type {
  margin-left: 9%;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.grid div:nth-of-type(2) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
  margin-left: 18%;
}
.grid div:nth-of-type(3) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 27%;
}
.grid div:nth-of-type(4) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 36%;
}
.grid div:nth-of-type(5) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 45%;
}
.grid div:nth-of-type(6) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 54%;
}
.grid div:nth-of-type(7) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 63%;
}
.grid div:nth-of-type(8) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 72%;
}
.grid div:nth-of-type(9) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 81%;
}
.grid div:nth-of-type(10) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 90%;
}
.grid div:nth-of-type(11) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 99%;
}
.grid div:nth-of-type(12) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  margin-left: 108%;
}



.draw-line {
	position:relative;
	padding-bottom: 500px;
	width: 100%;
    margin: 0;
	overflow: hidden;
	}
.draw-line p{
	position: absolute;
	color: #D23A3D;
	font-size:15px;
	font-family: 'ZoomProWideMedium';
	text-transform:uppercase;
	-webkit-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
	-webkit-transform-origin: left center;
	left: 49%;
	top: 55%;
	}
.draw-line .line {
  position: absolute;
  left: 50%;
  top: auto;
  right: auto;
  bottom: 0px;
  width: 1px;
  height: 500px;
  
}

.draw-line .line .draw-line-inner {
  width: 1px;
  height: 100%;
  background-color: #d23b3a;
}

.draw-line .line .draw-line-inner::after{
    position: absolute;
    content: '';
    top: auto;
    bottom: -20px;
    left: -30px;
    width: 60px;
    height: 40px;
    border-radius: 60%;
    background: #D23A3D;
}

.draw-line .line .draw-line-inner::before{
 content:'';
  display:block;
  width:1px;
  height:150px;
  background:#fff;
  position:absolute;
  top:-100%;
  left:0;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% { top: -100%; }
  50% { top: 0; }
  100% { top: 100%; }
}




/*--EVENTS GRID END --*/


.ekkon-exp{
    padding:100px 0;
}
.ekkonexp-heading{
    font-size: 60px;
    color: #D23A3D;
    font-family: 'ZoomProWideMedium';
    text-transform: uppercase;
}
.ekkon-video{
    border-top:1px solid #D23A3D;
    border-bottom:1px solid #D23A3D;
}
.ekkon-video-inner, .ekkon-video-border{
    border-top:1px solid #D23A3D;
    border-bottom:1px solid #D23A3D;
    margin:2px 0;
}

.ekkon-video video{
    width:100%;
    height:700px;
    margin:2px 0;
    object-fit: cover;
}


.home-event-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-event1{
    width:23%;
    position: relative;
}
.home-event1 h2{
    color:#fff;
    font-size: 30px;
    font-family: 'ZoomProWideMedium';
    text-transform: uppercase;
    border-top:3px solid #fff;
    padding-top:20px;
}
.view-all-events a{
    color: #D23A3D;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'ZoomProWideMedium';
    text-decoration: none;
    position: absolute;
    bottom:0;
    left:0;
}
.view-all-events a img{
    display: block;
    padding-bottom:10px;
}


.afi-section{
    padding: 150px 0  150px;
}
.afi-section-hd{
    font-size: 60px;
    font-family: 'ZoomProNormalRegular';
    color:#fff;
    line-height: 60px;
    max-width: 85%;
    width:100%;
    margin:0 auto;
}
.afi-section-hd span{
    color:#D23A3D;
}
.ab-studio-inner:first-child{
    border-top:1px solid #D23A3D;
}
.ab-studio-inner{
    border-bottom: 1px solid #D23A3D;
    display: flex;
    justify-content: space-between;
    height:445px;
}

.ab-studio-inner-left{
    width:50%;
    position: relative;
}

.ab-studio-inner-left:after{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:20px;
    background: url(../images/trangle.png) no-repeat top center;
    background-size: 100% 100%;
}
.ab-studio-inner-left::before{
    position:absolute;
    content:'';
    top:0;
    left:53.2%;
    width:1px;
    height:100%;
    background: #D23A3D;
}
.ab-studio-inner-left img{
    width:100%;
    margin-left:30px;
    position: relative;
    z-index: 9;
}

.ab-studio-inner-right{
    padding: 120px 100px;
    width: 50%;
    box-sizing: border-box;
    max-width: 580px;
}
.ab-studio-inner-right p{
    font-size: 21px;
    color:#fff;
    line-height: 27px;
    font-family: 'ZoomProWideMedium';
}
.ab-studio-inner-right span{
    color: #D23A3D;
    font-family: 'ZoomProWideMedium';
}


.ab-studio{
    margin-top:100px;
}





.home-event2{
    width:23%;
}
.home-event-th img{
    width: 100%;
}
.home-event-hour{
    background:url(../images/list-item.png) no-repeat center left;
    font-size: 15px;
    font-family: 'ZoomProNormalMedium';
    color:#fff;
    padding:5px 0;
    padding-left:50px;
    border-bottom: 1px solid #D23A3D;
}

.home-event-title a{
    color:#fff;
    font-size: 18px;
    font-family: 'ZoomProNormalRegular';
    padding:10px 0 20px;
    text-decoration: none;
    display: block;
}
.home-event-place{
    font-size: 12px;
    color:#fff;
    font-family: 'ZoomProNormalRegular';
    border-bottom: 1px solid #D23A3D;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.home-event-cat{
    font-size: 11px;
    color:#fff;
    text-transform: uppercase;
    margin: 5px 0;
    font-family: 'ZoomProNormalMedium';
}

.home-event-section{
    padding-top:150px;
	padding-bottom: 150px;
}




.home-gate{
    padding:100px 0 300px;
}

.home-gate-section1{
    max-width: 550px;
    width: 100%;
    margin-bottom:-60px;
    padding-bottom: 100px;
}
.home-gate-section1-inner {
    margin-left: 39%;
}
.home-gate-section1-inner h1{
    margin: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-family: 'ZoomProWideMedium';
    font-size: 60px;
    line-height: 65px;
    text-transform: uppercase;
    position: relative;
    padding-bottom:50px;
}
.home-gate-section1-inner h1 span{
    display: block;
    margin: 0;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-family: 'ZoomProWideMedium';
    text-transform: uppercase;
}
.home-gate-section1{
    position: relative;
}
.home-gate-section1::before{
    position: absolute;
    content: '';
    top: 150px;
    left: -49px;
    width: 111%;
    background: #D23A3D;
    height: 2px;
}

.home-gate-section1-inner p{
    font-size: 21px;
    color:#fff;
    font-family: 'ZoomProNormalRegular';
}

.home-gate-section1-inner2 h1 span{
    display: inline-block;
}
.home-gate-section1.home-gate-section2::before {
    position: absolute;
    content: '';
    top: 87px;
    left: -49px;
    width: 110%;
    background: #D23A3D;
    height: 2px;
}
.home-gate1{
    padding-top: 100px;
}
.home-gate3{
    padding-bottom: 100px;
}
.main-gate img{
    width: 100%;
}

.gate-read-more{
    width: 500px;
    padding: 65px;
    border: 1px solid #D23A3D;
    border-radius: 60%;
    margin: -5% auto 0;
    text-align: center;
    
}

.gate-read-more p{
    color:#D23A3D;
    font-family: 'ZoomProWideMedium';
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom:30px;
}
.gate-read-more p:last-child{
    margin:0 0 0;
}
.gate-read-more p a{
    font-size: 24px;
    color:#fff;
    font-family: 'ZoomProExtendedMedium';
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.gate-read-more p a::after{
    content: '';
    position: absolute;
    bottom: -77px;
    right: 17px;
    background: url(../images/linkarrow.png) no-repeat center center;
    width: 66px;
    height: 64px;
}




.something-setion-inner h3 {
    font-size: 5.3vw;
    line-height: 5.3vw;
    text-align: center;
    margin: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #D23A3D;
    font-family: 'ZoomProWideMedium';
}

.something-setion-inner h3 span {
    -webkit-text-fill-color: #D23A3D;
}

.something-setion2-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.something-setion2-inner{
    width:30%;
    margin-top:100px;
}
.something-setion2-inner-th img{
    width:100%;
    vertical-align: top;
}
.something-setion2-inner-content{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.something-setion2-inner-left{
    padding-right:30px;
    font-family: 'ZoomProNormalRegular';
    font-size: 21px;
    color:#fff;
}
.something-setion2-inner-right{
    font-family: 'ZoomProNormalRegular';
    font-size: 21px;
    color:#fff;
}
.something-setion2-inner-right span{
    color: #D23A3D;
}



.footer-top-outer {
    margin-top: 200px;
    padding: 130px 0;
    border-bottom: 1px solid #D23A3D;
    border-top: 1px solid #D23A3D;
}

.footer-top {
    display: flex;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w40 {
    width: 40%;
}

.subscribe h4 {
    font-size: 21px;
    color: #fff;
    font-family: 'ZoomProNormalMedium';
    padding-bottom: 22px;
}

.address {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.address-left {
    width: calc(100% - 80px);
    font-size: 21px;
    color: #fff;
    font-family: 'ZoomProNormalMedium';
}

.address-right {
    width: 63px;
}

.getintouch h4 {
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    font-family: 'ZoomProNormalMedium';
    padding-bottom: 22px;
    margin: 0;
}

.getintouch {
    padding-bottom: 100px;
}

.getintouchemail h4 {
    margin-bottom: 30px;
}

.getintouchemail h4:last-child {
    margin-bottom: 0;
}

.getintouchemail h4 a {
    font-size: 21px;
    color: #fff;
    font-family: 'ZoomProNormalMedium';
    text-decoration: none;
}



.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.inputfield {
    width: calc(100% - 80px)
}

.submitbtn {
    width: 63px;
}

.inputfield input {
    background: none;
    border: none;
    border-bottom: 1px solid #D23A3D;
    color: #D23A3D;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    font-family: 'ZoomProNormalMedium';
}

.inputfield input::placeholder {
    color: #D23A3D;
}

.inputfield input:-ms-input-placeholder {
    color: #D23A3D;
}

.inputfield input::-ms-input-placeholder {
    color: #D23A3D;
}



.submitbtn button {
    background: none;
    box-shadow: none;
    border: none;
}


.copyright {
    border-top: 1px solid #D23A3D;
    padding: 15px 0;
    margin-top: 2px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-right1 {
    text-transform: uppercase;
    color: #A7A7A7;
    font-weight: bold;
    font-size: 12px;
}

.copy-right2 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.copy-right2 ul li {
    list-style: none;
    padding: 0 30px;
}

.copy-right2 ul li a {
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-family: 'ZoomProNormalMedium';
    font-size: 12px;
}

.copy-right3 {
    text-transform: uppercase;
    color: #A7A7A7;
    font-weight: bold;
    font-size: 12px;
}

.home-section3{
    position: relative;
    margin-top:20px;
}

.home-cat{
    background-size: 100.1% 100% !important;
    max-width: 100%;
    background-position: top left;
    width:33.33%;
}
.home-cat a{
    max-width: 100%;
}


/*start event*/

.white-bg{
    background:#fff url(../images/calander-bg.png) repeat-y;
    background-size: 100% 100%;
}
.trigger.trigger-black span{
    border: 1px solid #000;
    background: #000;
}


.event-spacer{
    margin-top:100px;
}


#calendar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 53px;
}
.calendar-events{
    padding-right:15px;
    color:#000;
}
.date{
    color:#000 !important
}

/* end events*/


/*community page*/

.white{
    background: #fff;
}
.white-bg header.darkHeader{
    background: #f8f7f4;
}
.community-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.community-inner1{
    margin-bottom:100px;
}

.community-left{
    width: 30%;
}
.community-left img{
    width:100%
}
.community-right{
    width:65%;
}
.community-right h1{
    color:#000;
    font-size: 60px;
    line-height: 55px;
    font-family: 'ZoomProNormalMedium';
}
.community-right h1 span{
    color: #D23A3D;
    font-family: 'ZoomProWideMedium';
}
.community-right p{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    padding:50px 0;
}
.community-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_field{
    width:48%;
}
.main_form_field input{
    width: 100%;
    border: none;
    border-bottom: 1.2px solid #D23A3D;
    height:40px;
    line-height: 40px;
    margin-bottom: 10px;
    color:#000;
    font-size: 15px;
    font-weight: 600;
}

.main_form_field input::placeholder { 
    color: #000;
    opacity: 1; 
    font-weight: 600;
  }
  
.main_form_field input:-ms-input-placeholder {
    color: #000;
    font-weight: 600;
  }
  
.main_form_field input::-ms-input-placeholder { 
    color: #000;
    font-weight: 600;
  }

.main_form_field textarea{
    width: 100%;
    border: none;
    border-bottom: 1.2px solid #D23A3D;
    border-top: 1.2px solid #D23A3D;
    height:170px;
    padding: 20px;
}
.form_field h4{
    font-size: 15px;
    text-transform: uppercase;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    margin-top:10px;
    font-weight: 600;
}
.form-field-submit{
    margin-top:20px;
}
.form-field-submit button{
    width:100%;
    background: none;
    border:none;
    text-align: right;
}
.scroll-down{
    padding:40px 0;
    text-align: center;
}
.community-left .scroll-down span{
    display: inline-block;
    padding:0 40px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
    position: relative;
}
.community-left .scroll-down span:after{
    content: '';
    position: absolute;
    top:6px;
    right:0;
    height:6px;
    width:10px;
    background: url(../images/sc2.png) no-repeat center left;
}
.community-left .scroll-down span::before{
    content: '';
    position: absolute;
    top:6px;
    left:0;
    height:6px;
    width:10px;
    background: url(../images/sc1.png) no-repeat center left;
}
.community-contact1{
    padding-bottom:50px;
}
.community-contact1 a{
    font-size: 21px;
    color: #D23A3D;
    font-family: 'ZoomProNormalMedium';
    text-decoration: none;
}
.community-contact1 a img{
    padding-left: 50px;
}
.community-contact1 span.what{
    display: block;
    font-size: 12px;
    color:#000;
    font-family: 'ZoomProNormalMedium';
}
.sin{
    display: inline-block;
    width:200px;
    color: #D23A3D;
    font-family: 'ZoomProNormalMedium';
}

footer{
    background: #000;
}
.white header.darkHeader{
    background: #fff;
    z-index: 9999;
}

.blackbg header.darkHeader{
    background: #000;
    z-index: 9999;
}

.community-outer{
    padding-bottom: 50px;
}



/*end community page*/

/*start mega menu*/

.megamenu{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    z-index: 99999;
    display: none;
}

.megamenu-inner{
    margin-top:82px;
    width: 100%;
    height: calc(100vh - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 845px;
    width:100%;
    margin: 0 auto;
}
.m-menu a{
    width:100%;
    max-width: 420px;
    text-align: center;
    height: 250px;
    line-height: 250px;
    display: block;
    border: 1px solid #D23A3D;
    border-radius: 50%;
    font-size: 18px;
    color: #D23A3D;
    text-decoration: none;
    font-family: 'ZoomProNormalMedium';
}

.megamenu-inner:after{
    content: '';
    position: absolute;
    top:calc(50% + 41px);
    left:0;
    width: 100%;
    background: #D23A3D;
    height: 1px;
}
.megamenu-inner::before{
    content: '';
    position: absolute;
    top:50%;
    margin-top:-75px;
    left:50%;
    width: 1px;
    background: #D23A3D;
    height:250px;
}

/*end mega menu*/



/*event details*/

.inner-wrapper{
    padding:30px 50px;
}
.white-bg header{
    padding:20px 50px;
}

.bktoevent a{
    text-transform: uppercase;
    color:#000;
    font-size: 21px;
    font-family: 'ZoomProNormalMedium';
    text-decoration: none;
}
.bktoevent a img{padding-right:20px;}

.event-details-hd{
    font-size: 39px;
    color: #D23A3D;
    font-family: 'ZoomProNormalMedium';
    padding:30px 0;
    line-height: 40px;
}
.event-details-hd span{
    color: #000;
    font-family: 'ZoomProNormalMedium';
    font-size: 39px;
    display: block;
}

.event-details-date{
    font-size: 30px;
    color: #000;
    font-family: 'ZoomProNormalMedium';
    line-height: 35px;
}

.addtocalander{
    padding:30px 0;
}
.addtocalander a{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.event-details-section{
    padding:50px 0;
}

.event-details-section1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event-details-section1-inner-left{
    width:50%;
}
.event-details-section1-inner-right{
    width:40%;
}
.ev-sub{
    font-size: 30px;
    color:#000;
    font-family: 'ZoomProNormalMedium';
    line-height: 30px;
    padding-bottom:30px;
}
.event-details-section1-inner-left p{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.event-details-section1-inner-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top:1.5px solid #000;
    border-bottom:1.5px solid #000;
    padding:20px 0;
}
.event-details-social-left h5{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    line-height: 24px;
}
.event-details-social-left p{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin:15px 0 0;
}
.event-details-social-right ul li{
    list-style: none;
    padding:10px 0;
}

.buy-ticket{
    padding:50px 0;
}
.buy-ticket a{
    font-family: 'ZoomProNormalMedium';
    font-size: 30px;
    color:#000;
    text-decoration: none;
    display: inline-block;
    margin-left:-5px;
}

.youmayknow{
    margin:50px 0 0;
}
.youmayknow-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.youmayknow1{
    width:32.2%;
}

.youmayknow1 h4{
    font-size: 18px;
    color: #D23A3D;
    font-family: 'ZoomProNormalMedium';
    margin:40px 0 0;
}
.youmayknow1 p{
    font-size: 18px;
    color: #000;
    font-family: 'ZoomProNormalMedium';
    margin:0;
}
.ev-hd{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.w100{
    width:100%;
}
/*end event details*/

/*add to cart*/
.addtocart-event{
    padding:30px 0;
}
.ad-cart{
    display: flex;
    justify-content: space-between;
}
.ad-cart-left{
    width:200px;
}
.ad-cart-left ul{
    padding-left: 0;
}
.ad-cart-left ul li{
    list-style: none;
    margin-bottom: 30px;
}
.ad-cart-right{
    width:calc(100% - 150px);
}
.ad-cart-right table{
    width:100%;
    border: none;
    border-collapse: collapse;
}
.ad-cart-right tr{
    padding:15px 0;
    display: flex;
    justify-content: space-between;
}
.ad-cart-right tr td{
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.ad-cart-right tr:last-child{
    margin-top:40px;
    border-top:1px solid #D23A3D;
    border-bottom:1px solid #D23A3D;
}
.ad-cart-right tr:last-child td:first-child{
    font-size: 24px;
    font-weight: bold;
}
.ad-cart-right tr:last-child td:last-child{
    font-weight: bold;
}

.ad-cart-right tr.active td{
    color:#D23A3D
}
.ad-cart-right tr.active td:last-child{
    background: url(../images/arrow-active.png) no-repeat center left;
    padding-left:150px;
}

.addto-cart-event-details{
    padding:100px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ada{
    width:25%;
    margin-bottom: 40px;
}
.ada h5{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}
.ada p{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.add-tocart-buy-now{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

/*end add to cart*/

/*login form*/

.login-form{
    max-width: 800px;
    width:100%;
    margin:50px auto 100px;
}
.new_user h4{
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-top:1px solid #D23A3D;
    padding:10px 0;
}
.c_btn{
    display: block;
    width: 100%;
    font-size: 21px;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin:30px 0;
    padding:15px 30px;
    text-align: center;
    text-decoration: none;
    background: #D23A3D;
    border: 1px solid #D23A3D;
}
.c_btn:hover{
    color:#D23A3D;
    background:  #F7F5F4;
}

.ex-user h4{
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding:10px 0;
}

.ex-user{
    padding-top:20px;
}
.f_field{
    margin-top:20px;
}
.f_field input{
    width: 100%;
    padding:10px 20px;
    box-sizing: border-box;
    border:1.5px solid #000;
    background: #F9F7F5;
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
}
.f-passwod a{
    display: inline-block;
    font-size: 18px;
    color:#D23A3D;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    margin-top:20px;
    text-decoration: none;
}

.social-login-main{
    margin:100px 0 50px;
}

.hd-after{
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: relative;
}
.hd-after::after{
    content: '';
    position: absolute;
    top:50%;
    right:0;
    width:calc(100% - 200px);
    height:1.5px;
    background: #D23A3D;
}

.social-login{
    margin:30px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-login-inner{
    padding:15px 20px;
    width:30%;
    border:1px solid #000;
    text-align:center;
}
.social-login-inner a{
    display: block;
}

.c_btn_hover{
    display: block;
    width: 100%;
    font-size: 21px;
    color:#D23A3D;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin:30px 0;
    padding:15px 30px;
    text-align: center;
    text-decoration: none;
    background:  #F7F5F4;
    border: 1px solid #D23A3D;
}
.c_btn_hover:hover{
    color:#fff;
    background:#D23A3D;
}

.reg-form-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reg-form-half{
    width:48%;
    margin-top:15px;
}

::placeholder { 
    color: #ADADAD;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #ADADAD;
  }
  
  ::-ms-input-placeholder { 
    color: #ADADAD;
  }

  .reg-form-half.w100{
    width: 100%;
  }
  .reg-form-half input{
    width: 100%;
    padding:10px 20px;
    box-sizing: border-box;
    border:1.5px solid #A7A7A7;
    background: #F9F7F5;
    font-size: 21px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  }
  .subsn .form-group{
      position: relative;
    margin-top: 30px;
  }
  .subsn .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width:23px;
    height: 23px;
  }
  
  .subsn .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .subsn .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #a7a7a7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .subsn .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #A7A7A7;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .subsn .form-group label{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }
  .payment-option{
      padding:100px 0 0;
  }
  .payment-option h5{
    font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .payment-option p{
      color: #717171;
      font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-top:20px;
  }

/*end login form*/


/*start event*/

.inthn{
    padding:100px 0;
}
.inthen_hd h4{
    font-size: 30px;
    color: #000;
    font-family: 'ZoomProWideMedium';
}
.inthen_hd span{
    border-bottom: 1px solid #000;
    margin-bottom: 1px;
    display: block;
}
.news-ev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px  0 0;
}
.new-ev-inner{
    width:30%;
}
.new-ev-inner h4{
    font-size: 18px;
    color:#000;
    font-family: 'ZoomProWideMedium';
    background: url(../images/ev-th.png) no-repeat center left;
    padding-left:30px;
    border-bottom: 1.5px solid #000;
    padding-bottom: 5px;
}
.new-ev-inner p{
    font-size: 18px;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-top:5px;
}

.ev-footer-menu{}
.ev-footer-menu ul{
    display: flex;
    justify-content: center;
}
.ev-footer-menu ul li{
    padding:0 50px;
    list-style: none;
}
.ev-footer-menu ul li a{
    color: #D23A3D;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'ZoomProWideMedium';
    text-decoration: none;
}

.ev-footer{
    background: #fff;;
}
.ev-footer .inner-wrapper{
    padding:0 50px;
}
.ev-footer .inner-wrapper .copyright{
    border: none;
}




.comparisonSection {
    position: relative;
    padding-bottom: 56.25%; 
    overflow-x: hidden;
  }
  .comparisonImage {
    width: 100%;
    height: 100%;
  }
  .afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
  }
  .afterImage img {
    transform: translate(-100%, 0px);
  }
  .comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }


/*end event*/






#mini-clndr .clndr .days-container .days .day.event, #mini-clndr .clndr .days-container .events .events-list .event{
    margin-top:0;
}

#mini-clndr .clndr .controls{
    width:344px;
    height: 35px;
    position: relative;
}
#mini-clndr .clndr .days-container .events{
    margin-top:-35px;
}
#mini-clndr .clndr .controls .month{
    position: absolute;
    left: 0;
    width: 200px;
    padding: 6px;
    text-align: left;
    font-family: 'ZoomProWideMedium';
    font-size: 18px;
}
#mini-clndr .clndr .controls .clndr-next-button{
    position: absolute;
    right: 0;
    height:30px;
    font-size: 0;
    background: url(../images/nxt-arrow.svg) no-repeat top 10px center !important;
}
#mini-clndr .clndr .controls .clndr-next-button:hover{
    background: url(../images/nxt-arrow.svg) no-repeat top 10px center !important;
}
#mini-clndr .clndr .controls .clndr-previous-button{
    position: absolute;
    right: 46px;
    height:30px;
    font-size: 0;
    background: url(../images/prv-arrow.svg) no-repeat top 10px center !important;
}
#mini-clndr .clndr .controls .clndr-previous-button:hover{
    background: url(../images/prv-arrow.svg) no-repeat top 10px center !important;
}

#cdlr{
    padding:50px;
}

#mini-clndr .clndr .days-container .days .day, #mini-clndr .clndr .days-container .days .empty{
    border: none;
    font-family: 'ZoomProNormalRegular';
    font-size: 15px;
}
#mini-clndr .clndr .days-container .days{
    border-bottom:1.5px solid #000;
    font-family: 'ZoomProNormalRegular';
}
#mini-clndr .clndr .days-container .days .day.event{
    background:url(../images/bg-red.png) no-repeat center center;
    color: #fff;
}
#mini-clndr .clndr .days-container .days .day.event:hover, #mini-clndr .clndr .days-container .days .empty.event:hover{
    background-color: transparent !important;
}
#mini-clndr .clndr .days-container .days .headers .day-header{
    font-family: 'ZoomProNormalBold';
    font-size: 15px;
}
#mini-clndr .clndr .days-container .days{
    background-color: none !important;
}
#mini-clndr .clndr .days-container .events .event-header{
    background-color: none !important;
    text-align: left;
    font-size: 18px;
    font-family: 'ZoomProWideMedium';
    text-transform: uppercase;
}
.events .events-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.events .events-list .event{
    width:50%;
    border-bottom: none;
}
#mini-clndr .clndr .days-container .events .events-list .event{
    border-bottom: none;
    margin-top: 30px;
}
#mini-clndr .clndr .days-container .events .events-list .event h2{
    margin: 0;
}
#mini-clndr .clndr .days-container .events .events-list .event a{
    color:#D23A3D;
    font-size: 21px;
    font-family: 'ZoomProNormalMedium';
    text-decoration: none;
}
#mini-clndr .clndr .days-container .events .events-list .event span{
    color:#000;
    font-size: 21px;
    font-family: 'ZoomProNormalMedium';
    text-decoration: none;
}


.mobile-page-hd h1{
    color: #D23A3D;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'ZoomProWideMedium';
    border-bottom: 1px solid #000;
    margin-bottom: 2px;
    padding-bottom: 20px;
}
.mobile-page-hd{
    border-bottom: 1px solid #000;
    margin-bottom: 30px; 
    display: none;
}

.evt-footer{
    display: none;
}
.mobile-only{
    display: none;
}

.something-setion2-inner-th{
    border-radius:50%;
    overflow: hidden;
    height:250px;
}
.launchpagemain{
    display: flex;
}

.launchpageleft{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec2927;
    height: 100vh;
}
.launchpageleft img{
    max-width:720px;
    width:100%;
    margin:0 auto;
    padding:50px;
}
.launchpageright{
    width:40%;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 100vh;
}
.launchpageright-inner{
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}
.launchpageright-inner h4{
    color: #ec2829;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
     /* font-family: 'ZoomProWideMedium'; */
    font-weight: 600;
}
.launchpageright-inner p{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    padding:0 0 5px;
}
.launchpageright-inner p.qad{
    color:#000;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-top:50px;
}
.launchpageright-inner a{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color:#000;
    text-decoration: none;
    font-weight: 500;
}
.getintouch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mbc, .mob-slider-evn{
    display: none;
}

.ymay-monbile{
    display: none;
}

.addeventatc, .addeventatc:hover{
	background-image:none !important;
	border:none !important;
	box-shadow:none !important;
	background:none !important;
	font-size: 18px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
	border-bottom:1px solid #000;
}
.addeventatc .addeventatc_icon{
	background:none !important;
}


.ticket-details-evdetails #tickets.container{
	width:100% !important;
	max-width:100% !important;
	padding:0 !important;
}
.ticket-details-evdetails .section_head{
	    color: #000;
    font-family: 'ZoomProNormalMedium';
    font-size: 39px;
    display: block;
}

.ticket-details-evdetails .table>:not(caption)>*>*{
	border-bottom-width:0 !important;
	vertical-align: middle !important;
}
.ticket-details-evdetails .tickets_table_wrap{
	margin-top:30px;
}
.ticket-details-evdetails .table>:not(caption)>*>* {
    padding: 15px 0 !important;

}
.ticket-details-evdetails .ticket-title.semibold, .ticket-details-evdetails  .ticket-pricing{
	font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.ticket-details-evdetails .ticket-descripton.mb0.text-muted{
	display:none !important;
}
.ticket-details-evdetails select.form-control{
	background:none !important;
	-webkit-appearance:auto !important;
	-moz-appearance: auto !important;
    appearance: auto !important;
	box-shadow:none;
		font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.ticket-details-evdetails .checkout{
	border-top:1px solid #ccc;
	padding-top:20px !important;
}
.ticket-details-evdetails .checkout img{
	display:none !important;
}
.ticket-details-evdetails .btn.btn-lg.btn-primary.pull-right{
	    margin-right: 0 !important;
    margin-left: auto !important;
    width: 200px;
    display: block;
	font-size: 21px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    background: #D23A3D;
    border: 1px solid #D23A3D;
	border-radius:0 !important;
}
.ticket-details-evdetails  td{
	font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
	margin:20px 0;
}
.ticket-details-evdetails .btn.btn-lg.btn-primary.pull-right:hover{
	  background: none;
	  color: #D23A3D;
}


.main-gate{
	padding:100px 0 150px;
}
.mynew-wrapper{
	max-width: 800px;
    width: 100%;
    margin: 50px auto 100px;
}
.checkout_create_hd .section_head{
	font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-top: 1px solid #D23A3D;
    padding: 10px 0;
}

.checkout_create_order-summery .panel-heading .panel-title{
	display: block;
    width: 100%;
    font-size: 21px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 30px 0;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    background: #D23A3D;
    border: 1px solid #D23A3D;
}


.checkout_create_your-information .event_order_form h3{
	font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
}

.ticket_holders_details_hd{
	margin-top:50px;
}


.ticket_holders_details .panel-primary:first-child h3.panel-title{
		margin-top:0;
	margin-bottom:0;
}

.ticket_holders_details .panel-primary h3.panel-title{
	margin-top:50px;
	margin-bottom:0;
	padding-bottom:0;
}


.checkout_create_your-information .f_field label{
	display:none !important;
}
.checkout_create_your-information .event_order_form input{
	width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1.5px solid #000;
    background: #F9F7F5;
    font-size: 21px;
    color: #000;
    font-family: 'Work Sans', sans-serif;
}

.checkout_create_your-information input[type="submit"].card-submit{
	    display: block;
    width: 100%;
    font-size: 21px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 30px 0;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    background: #D23A3D;
    border: 1px solid #D23A3D;
}

#mirror_buyer_info{
	    display: block;
    width: 100%;
    font-size: 21px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 30px 0;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    background: #D23A3D;
    border: 1px solid #D23A3D;
}

.checkout_create_order-summery table td{
	font-size: 21px;
    color: #000;
    font-family: work sans,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.checkout_create_order-summery .panel-footer h5{
	font-size: 21px;
    color: #000;
    font-family: work sans,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.checkout_create_order-summery .help-block{
		font-size:12px;
}
.padding0{
	padding-top:0;
}
.community-inner1-margin0{
	margin-bottom:0;
}
.paddingbottom0{
	padding-bottom:0 !important;
}
.my-ne-buy{
	position:relative;
}
.my-ne-buy a{ 
	display:flex;
	align-items:center;
}
.my-ne-buy input[type="submit"]{
	position: absolute;
	width:100%;
	height:100%;
	z-index:99;
	top:0;
	left:0;
	opacity:0;
} 
/*.my-details-ev-new{
	display:none;
}*/

.order_details.well, .offline_payment_instructions{
	background:transparent !important;
	margin-bottom:100px;
}

.ticket_download_link{}

/*.community-outer-new2{
	display:none;
}*/

.footer-sc1{width:64px;}